.menu_container {
    width: 100%;
    min-height: 75px;
    z-index: 100;
}


.babyboo-header {
    width: 100%;
    height: 30px;
    background-color: #c4c9c1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.babyboo-header h2 {
    font-size: 12px;
    color: #362b24;
    text-transform: uppercase;
}


.menu_container a {
    cursor: pointer;
}



.Navbar.fixedB {
    position: fixed;
    top: 0;
    align-items: center;
    box-shadow: 0 10px 30px -10px rgba(2,12,27,0.7);
    transition: box-shadow 0.2s ease-in-out;
    height: 70px;
    transition: height 0.5s ease-in-out;
}



.Navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #362b24;
    backdrop-filter: blur(10px);
    color: white;
    width: 100%;
    height: 70px;
    transition: height 0.5s ease-in-out;
    padding: 0 10rem;
    z-index: 100;




.burger-button {
    display: none;




&.open .bar1 {
    transform: rotate(-45deg) translate(-5.5px, 5.5px);
}

&.open .bar2 {
    opacity: 0;
}

&.open .bar3 {
    transform: rotate(45deg) translate(-8.5px, -8.5px);
}

}



.navbar-container ul {
    display: flex;
    align-items: center;
    list-style-type: none;

}



.navbar-container li {
    transition: all 0.8 ease;


.active {
    color: #64ffda;
}

}


.navbar-container a {
    display: block;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    font-weight: 600;
    padding: 20px;
    transition: color 0.2s ease-in-out;
}


.navbar-container input {
    width: 150px;
    height: 30px;
    border: solid 1.5px white;
    border-radius: 10px;
    background: none;
    color: rgb(168, 168, 168);
    padding-left: 8px;
}


.navbar-container svg {
    width: 15px;
    height: 15px;
    fill: white;
    position: absolute;
    transform: translate(-25px, 7px);
}


.navbar-container input::placeholder {
    color: white;
}


.navbar-container button {
    color: #64ffda;
    background-color: transparent;
    border: 1px solid #64ffda;
    border-radius: 5px;
    padding: 0.75rem 1rem;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    margin-left: 15px;
    font-size: 15px;
    transition: background-color 0.2s ease-in-out;
}


.navbar-container button:hover {
    background-color: #64ffdb1f;
}


.navbar-container a span {
    color: #64ffda;
}


.navbar-container a:hover {
    //color hover
}



}


.logo {
    
}


.logo-center {
    
}


.logo p {
    font-size: 30px;
    font-weight: bold;
    color: white;
    transition: color 0.2s ease-in-out;
}


.logo:hover p {
    color: white;
}


.user-check {
    display: flex;
    gap: 30px;
}


.person-check {
    display: flex;
    gap: 10px;
}



.globle-check {
    display: flex;
}


.globle-check select {
    border: none;
    background-color: #362b24;
    color: white;
}


.user-check svg:nth-child(1) {
    width: 20px;
    height: 20px;
    fill: white;
}


.user-check svg:nth-child(2) {
    width: 20px;
    height: 20px;
    fill: white;
}


.welcome-babybob {
    width: 100%;
    display: flex;
    justify-content: center;
}



.welcome-babybob_center {
    width: 80%;
    height: 100px;
    display: flex;
    align-items: center;
}



.welcome-babybob h2 {
    font-size: 30px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

@media screen and (max-width: 1500px) {


    .blur {
        position: fixed;
        width: 50%;
        height: 100vh;
        background-color: #112240c0;
        filter: blur(0px) brightness(0.7);
        transition: background-color 1s ease-in-out;
    }
    
    .Navbar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;

        
        .burger-button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            cursor: pointer;
            z-index: 100;
        
        



        .bar {
            height: 2px;
            width: 30px;
            margin: 4px;
            background-color: white;
            border-radius: 5px;
            transition: all 1s ease;
        }

        }
        
        


        .navbar-container {
                background-color: #362b24;
                box-shadow: -10px 0px 30px -15px rgba(2,12,27,0.7);
                width: 0px;
                height: 100vh;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 0px;
                bottom: 0px;
                right: 0px;
                transition: width 0.2s ease-in-out;

            &.active {
                background-color: #362b24;
                box-shadow: -10px 0px 30px -15px rgba(2,12,27,0.7);
                width: 50%;
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 0px;
                bottom: 0px;
                right: 0px;
                transition: width 0.2s ease-in-out;
                
            }
        }

        ul {
            min-width: 10%;
            flex-direction: column;

        }

            li {
                width: 200px;

                .active {
                    color: white;
                }
            }


            li:hover {
                
            }


            a {
                padding: 0px;
                color: white;
            }

            a:hover {
                color: white;
            }
        
    }
}